<header
  class="fixed top-4 right-4 left-4 z-10 flex h-16 items-center rounded-xl bg-[#3635311a] pl-2 opacity-100 bg-blend-multiply backdrop-blur-[10px]"
>
  <a href={"/"}>
    <div
      class="font-[Comfortaa_Variable] font-light text-[#C2AA6A] flex flex-col"
    >
      <span> Boutique </span>
      <span class="-mt-2"> Werkstatt </span>
    </div>
  </a>
</header>
