---
import hero from "src/images/hero.jpg";
---

<section
  class="h-11/12 bg-cover bg-center py-8 flex flex-col justify-between"
  style={`background-image: url(${hero.src})`}
>
  <h1
    class="font-[Comfortaa_Variable] font-light text-5xl text-[#C2AA6A] text-center text-shadow-lg"
  >
    Boutique
    <br />
    Werkstatt
  </h1>
  <span
    class="font-[Comfortaa_Variable] font-light text-2xl text-[#04040C] text-center text-shadow-lg"
  >
    handgefertigte
    <br />
    Boutique-Möbel
    <br />
    aus 100% Massivholz
  </span>
</section>
